@page "{id:int}"
@model DetailsModel
@{
    ViewData["Title"] = "Detalles de Carrera";
}

<h1>Detalles de Carrera</h1>

<div>
    <h4>@Model.Carrera.Nombre</h4>
    <a asp-page="Edit" asp-route-id="@Model.Carrera.Id">Editar</a> |
    <a asp-page="Index">Volver a la lista</a>
</div>
