@page
@model CreateModel
@{
    ViewData["Title"] = "Crear Carrera";
}

<h1>Crear Nueva Carrera</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Carrera.Nombre" class="control-label"></label>
        <input asp-for="Carrera.Nombre" class="form-control" />
        <span asp-validation-for="Carrera.Nombre" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-page="Index">Cancelar</a>
</form>
